In [27]:
# Let's write an expression that calculates how many hours there are in 160 minutes:
160/60

2.6666666666666665

In [28]:
# Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120)
30 + 2 * 60

150

In [29]:
# And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.
(30 + 2) * 60

1920

In [37]:
x = 43 + 60 + 16 + 41

In [38]:
x

160

In [39]:
y = x / 60
y

2.6666666666666665

In [40]:
x = x / 60
x

2.6666666666666665

In [41]:
# It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:
total_min = 43 + 42 + 57 
total_min

142

In [42]:
total_hours = total_min / 60 
total_hours

2.3666666666666667

In [43]:
# In the cells above we added the length of three albums in minutes and stored it in total_min. We then divided it by 60 to calculate total length total_hours in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.
total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

In [22]:
# What is the value of x where x = 3 + 2 * 2
x = 3 + 2 * 2
x

7

In [23]:
y = (3 + 2) * 2
y

10

In [24]:
z = x + y
z

17

In [30]:
# What is the value of the variable a after the following code is executed?
a = "1"

In [31]:
a

'1'

In [32]:
# What is the value of the variable b after the following code is executed?
b = "2"
b

'2'

In [33]:
# What is the value of the variable c after the following code is executed?
c = a + b
c

'12'

In [34]:
# onsider the variable d use slicing to print out the first three elements:
d = "ABCDEFG"
print(d[0:3])

ABC

In [35]:
# Use a stride value of 2 to print out every second character of the string e:
e = 'clocrkr1e1c1t'
print(e[::2])

correct

In [36]:
# Print out a backslash:
print("\\\\")

\\

In [44]:
# Convert the variable f to uppercase:
f = "You are wrong"

In [45]:
f.upper()

'YOU ARE WRONG'

In [46]:
# Consider the variable g, and find the first index of the sub-string snow:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

In [47]:
# In the variable g, replace the sub-string Mary with Bob:
g.replace("Mary", "Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'